.button {
  border-radius: 5px;
  background-color: gray;
  font-size: 24px;
  text-align: center;
  width: 6vh;
  height: 6vh;
  margin: 1.5vh 1.5vh;
  padding: 0.5vh 1vh;
  color: white;
  text-align: center;
  vertical-align: middle;
}
.opButton {
  background-color: orange;
}

.clearButton {
  width: 28vh;
}

.zeroButton {
  width: 17vh;
}
